.variableForm {
  padding: 16px;
}

.formActions {
  display: flex;
  gap: 8px;
}

.optionsEditor {
  width: 100%;
}

.optionItem {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.optionInput {
  flex: 1;
}

.optionItem i {
  font-size: 16px;
  color: #979ba5;
  cursor: pointer;
  transition: color 0.3s;
}

.optionItem i:hover {
  color: #ea3636;
}
